In [4]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd

In [5]:
data=pd.read_csv('Boston.csv')
data.head()

,Unnamed: 0,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,black,lstat,medv
0,1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,396.90,4.98,24.0
1,2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,396.90,9.14,21.6
2,3,0.02729,0.0,7.07,0,0.469,7.185,61.1,4.9671,2,242,17.8,392.83,4.03,34.7
3,4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,394.63,2.94,33.4
4,5,0.06905,0.0,2.18,0,0.458,7.147,54.2,6.0622,3,222,18.7,396.90,5.33,36.2

In [9]:
#independent variable and dependent variable
x=data.iloc[:,:-2].values
y=data.iloc[:,-1].values

In [10]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 506 entries, 0 to 505
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  506 non-null    int64
 1   crim        506 non-null    float64
 2   zn          506 non-null    float64
 3   indus       506 non-null    float64
 4   chas        506 non-null    int64
 5   nox         506 non-null    float64
 6   rm          506 non-null    float64
 7   age         506 non-null    float64
 8   dis         506 non-null    float64
 9   rad         506 non-null    int64
 10  tax         506 non-null    int64
 11  ptratio     506 non-null    float64
 12  black       506 non-null    float64
 13  lstat       506 non-null    float64
 14  medv        506 non-null    float64
dtypes: float64(11), int64(4)
memory usage: 59.4 KB

In [11]:
#independent variable and dependent variable
x=data.iloc[:,:-2].values
y=data.iloc[:,-1].values

In [13]:
#splitting the dataset into the training set and test set
from sklearn.model_selection import train_test_split
x_train, x_test, y_train, y_test = train_test_split(x,y, test_size = 0.2, random_state=0)

In [14]:
#fitting multiple linear regression to the training set 
from sklearn.linear_model import LinearRegression
regressor=LinearRegression()
regressor.fit(x_train,y_train)

LinearRegression()

In [15]:
#predicting the test set results
y_pred=regressor.predict(x_test)

In [16]:
y_test-y_pred

array([-3.11949198, 30.11980252, -4.97426059, -2.19822024, -1.33745317,
        2.53952877,  1.15003399, -1.23403749, -1.28997759,  1.57800122,
        9.58091135,  0.34069646, -2.52989887,  4.0706002 , 12.79365595,
       -4.43714721,  1.66230895, -3.92697201, -1.13743573, -1.41064298,
        0.09943631, -3.00283662, -0.40306815, -1.12665339, -3.09808211,
       22.00082162,  2.50208408,  3.13074787,  2.47340088, -3.58188888,
       -4.04585959,  2.93565811,  2.03868171, -4.22499369, -4.34924874,
       -0.92219336, -8.63447047, 29.85942617, -2.43452616, -5.26832086,
       -2.86413327, -3.04166028, -3.01048318, -0.55600088, -6.56001736,
       -2.62187196, -1.28846219, -5.1743387 , -1.91106025,  3.65995976,
       -3.61362141,  2.55455109,  0.24522341,  9.55527414,  3.43949784,
       -2.92017036, -4.59384738,  1.28215737, 10.91575603, -1.56509005,
        1.54701722, -1.13122387, -0.50569259,  1.2157177 ,  2.88907717,
       -2.22607211, -4.78567859, -8.50568037,  7.37019381, -1.27393797,
       -2.94386859, -2.57019303, -6.21238855,  2.83882383, -0.26369429,
       -1.90958318, 10.77356398,  0.06461371, -4.25164354, -0.79006541,
       -5.28810197, -1.95093959, 13.3570409 ,  6.33332966,  9.10665094,
        0.07687567, -3.66532027, -3.51438574,  0.89886327,  5.13292788,
        1.64129708, -1.8388688 , -1.33795104, -6.02233713, -6.76054344,
        4.14497817,  8.28688633,  0.4735756 , -1.3055652 ,  1.07198978,
        1.998925  , -2.15313553])

In [17]:
#accuracy metrics
from sklearn.metrics import mean_squared_error,r2_score
rmse=(np.sqrt(mean_squared_error(y_test,y_pred)))
r2score=r2_score(y_test,y_pred)

In [18]:
print(rmse)
print(r2score)

6.438932300916439
0.4908431298275455

In [19]:
regressor.score(x_test,y_test)

0.4908431298275455